#元数据库
smdbUrl=jdbc:xugu://10.20.64.167:5138/BABJ_SMDB?ips=10.20.64.168,10.20.64.169&recv_mode=0&char_set=utf8&compatibleoracle=false
smdbUser=usr_sod
smdbPwd=Pnmic_qwe123
#缓冲库
bfdbUrl=jdbc:xugu://10.20.64.41:5138/BABJ_BFDB?ips=10.20.64.43&char_set=utf8&recv_mode=0
bfdbUser=usr_manager
bfdbPwd=manager_123
#服务库
stdbUrl=jdbc:xugu://10.20.63.196:5138/BABJ_STDB?ips=10.20.63.197,10.20.63.198,10.20.63.210,10.20.63.212,10.20.63.214&char_set=utf8&recv_mode=2
stdbUser=usr_manager
stdbPwd=manager_123
#分析库
hadbUrl=jdbc:gbase://10.20.64.29:5258/usr_sod?useOldAliasMetadataBehavior=true&rewriteBatchedStatements=true&connectTimeout=0&hostList=10.20.64.29,10.20.64.30,10.20.64.31&failoverEnable=true
hadbUser=usr_manager
hadbPwd=Manager_123