<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.sod.sync.mapper.DatabaseMapper">

    <!-- 条件查询 -->
    <select id="getDatabaseInfo" resultType="com.piesat.sod.sync.entity.DatabaseEntity">
        select a.ID as databaseId ,a.DATABASE_NAME as databaseName,
        b.DRIVER_CLASS_NAME as driverClass,b.DATABASE_INSTANCE as databaseInstance,a.SCHEMA_NAME as databaseSchema,
        b.DATABASE_URL as databaseUrl,c.USER_NAME as databaseUser,c.PASS_WORD as databasePassword
        from T_SOD_DATABASE a  left join T_SOD_DATABASE_DEFINE b
        on  a.DATABASE_DEFINE_ID= b.ID left join  T_SOD_DATABASE_ADMINISTRATOR c
        on b.ID = c.DATABASE_ID  where a.DATABASE_CLASSIFY = '物理库' and a.SCHEMA_NAME &lt;&gt; ''
    </select>

</mapper>
