<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.sod.sync.mapper.DatabaseMapper">

    <!-- 条件查询 -->
    <select id="getDatabaseInfo" resultType="com.piesat.sod.sync.entity.DatabaseEntity">
        select a.DATABASE_ID as databaseId ,a.DATABASE_NAME as databaseName,
        a.DRIVER_CLASS_NAME as driverClass,a.DATABASE_INSTANCE as databaseInstance,a.DATABASE_SCHEMA_NAME as databaseSchema,
        b.DATABASE_URL as databaseUrl,c.DATABASE_USER as databaseUser,c.DATABASE_PASS as databasePassword
        from dmin_db_physics_define a  left join dmin_db_physics_connection b
        on  a.DATABASE_ID= b.DATABASE_ID left join  dmin_db_physics_user c
        on a.DATABASE_ID = c.DATABASE_ID  where a.DATABASE_CLASSIFY = '物理库' and c.DATABASE_USER='usr_manager'
    </select>

</mapper>
