<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.sod.sync.mapper.EleWarningMapper">

    <!-- 条件查询 -->
    <select id="getSyncEleWarning" resultType="com.piesat.sod.sync.entity.EleWarningEntity">
        select SOURCE_DATABASE_ID AS sourceDatabaseId,SOURCE_TABLE_NAME AS sourceTableName,TASK_NAME AS taskName,
        TARGET_DATABASE_ID AS targetDatabaseId,TARGET_TABLE_NAME AS targetTableName,c.`INTERVAL` AS timeInterval,c.TASK_ID AS taskId,
        c.TIME_LIMIT AS timeLimit,c.BIGGEST_DIFFERENCE AS biggestDifference from SYNC_TASK a,SYNC_MAPPING b,SYNC_ELE_WARNING c
        where a.SLAVE_TABLES = CONCAT(b.RECORD_ID,'') and a.TASK_ID = c.TASK_ID
    </select>

</mapper>
